/* styles.css */

img {
    height: auto;
    width: 1000px;
}

p,
h1,
h2,
li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: purple;
}

h1 {
    font-size: 65px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h1,
h2 {
    font-style: italic;
}

p,
li {
    font-size: 28px;
}

div {
    text-align: center;
}

.title {
    background-color: black;
    color: gold;
    font-weight: bold;
    text-align: center;
}